@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,400&family=Work+Sans:ital,wght@0,300;0,600;0,700;0,800;1,400&display=swap');

* {

    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;

}

.banner-title {
    color: #0B0223;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    font-size: 65px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary1 {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;


}

nav {

    margin-bottom:2px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 1510px;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}


nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav li {

    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}



nav li a {

    text-decoration: none;
    color: #3C354F;
}

.nav-title {

    color: #0B0223;
    font-family: Work Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.G {

    text-align: center;
    font-family: Work Sans;
    font-size: 60px;
    font-weight: 700;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fowller {

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 262px;
    height: 56px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}

.banner-content {
    background-image: url('../images/Group 14.png ');
    background-repeat: no-repeat;
    width: 901px;
    height: 700px;





}

.banner-content {
    padding-left: 200px;
    padding-top: 180px;

}

.banner img {

    width: 901px;
    height: 700px;
    gap: 68px;
}


.banner {
    display: flex;
    justify-content: space-around;
    background: #FFF;
    gap: 20px;


}

.banner1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);


}

.banner-content1 {
    text-align: center;
}

.banner-title1 {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.unleash {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}


.section-title,
.p1 {
    text-align: center;


}

.skill-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill-description {
    text-align: center;
}

.f1 {


    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.f2 {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;


}

.features {
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.feature-content {
    padding-bottom: 300px;

}

.yes {
    display: flex;
    gap: 10px;


}

.yes:hover {
    cursor: pointer;
    border-radius: 50px;
    border: solid rebeccapurple;
    background: #FFF;

}

.facts {
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}


.facts-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 90px;
    border-radius: 50px;
    background: #FFF;
}




.ten-years-badge {


    position: relative;
    bottom: 300px;
    right: 100px;

}

.for-footer {
    background: #0B0223;
    width: 1500px;
    height: 400px;

}

.section-title3 {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    justify-content: center;
    padding: 10px;

}

.footer-titlepink {
    color: palevioletred;
}

.footer-1 {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.footer-p2 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}

.fa-regular {
    font-size: 40px;

}

.card3 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.card1 {
    position: relative;

}

.card1:hover .card2 {
    display: flex !important;
}

.card2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8758f13d;
    border-radius: 8px;
    justify-content: center;
    align-items: center;

}

.O {
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.F {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.social-links {

    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer-p {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}

.footer-first {
    display: flex;
    gap: 40px;
    justify-content: center;
}



@media screen and (max-width:576px) {

    nav {
        width: 100%;
        height: 100%;
        flex-direction: column;
        box-shadow: none;
        justify-content: space-around;

    }

    .banner,
    .banner1 {

        flex-direction: column-reverse;
        margin: 20px;
        padding: 0px;
    }

    .skill-container
    {
        flex-direction: column-reverse;

    }



    nav ul {
        gap: 20px;
        flex-direction: column;
    }





}











/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width :960px) {


    nav li {
        font-size: 50px;
        font-weight: 1000px;
    }

    .fowller {
        border-radius: 5px;
        gap: 20px;
        font-size: 30px;
        font-weight: 500px;

    }






}